<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="layout::site-head">
        <title>Administración de Productos</title>
    </head>
    <body>
        <header th:replace="layout::site-header"/>
        <a th:href="@{/admin/agregarProducto}"><button>Add Product</button></a>
        <p th:text="${res}"></p>
        <table th:if="${not inventario.isEmpty()}">
            <tr th:each="product : ${inventario}">
                <td th:text="${product.id}"></td>
                <td><a href="#" th:text="${product.nameProduct}" th:href="@{/products/details/{id}/(id=${product.id})}">Product Name</a></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.priceProduct}"></td>
                <td th:text="${product.codeProduct}"></td>
            </tr>
        </table>
         
    </body>
</html>
