<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Add Product</title>
    </head>
    <body>
        <form action="#" th:action="@{/admin/saveProduct}" th:object="${product}" method="post">
            
            <p>Nombre: <input type="text" th:field="*{nameProduct}" required=""/></p>
            <p>Código: <input type="text" th:field="*{codeProduct}" required=""/></p>
            <p>Precio: <input type="number" th:field="*{priceProduct}" step="any" required=""/></p>
            <p>Descripción: <input type="text" th:field="*{description}"/></p>
            <p>Existencias: <input type="number" th:field="*{cantidadExistencias}" required="" min="1"/></p>
            <select name="categorias" th:field="*{categoria}">
                <option th:each="c : ${categorias}" th:value="${c.id}" th:text="c.nombre">Nombre Categoria</option>
            </select>
            <p><input type="submit" value="Submit"/><input type="reset"/></p>
        </form>
        <a th:href="@{/admin/AdministrarProductos}">Retornar</a>
    </body>
</html>
