<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="layout::site-head">
        <title>Add Product</title>
    </head>
    <body>
        <form action="#" th:action="@{/admin/saveProduct}" th:object="${product}" method="post">
            
            <p>Name: <input type="text" th:field="*{nameProduct}"/></p>
            <p>Code: <input type="text" th:field="*{codeProduct}"/></p>
            <p>Price: <input type="number" th:field="*{priceProduct}" step="any"/></p>
            <p>Description: <input type="text" th:field="*{description}"/></p>
            <select name="categorias">
                <option value="">---- Selecciona una Categoría ---</option>
                <option th:each="c : ${categorias}" th:value="${c.id}" th:text="c.nombre" th:selected="">Nombre Categoria</option>
            </select>
            <p><input type="submit" value="Submit"/><input type="reset"/></p>
        </form>
    </body>
</html>
