<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="layout::site-head">
        <title>Welcome to StockDeal!</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout::site-header"></header>
        <h2>Acceder para ver Mensaje</h2>
        <a th:href="@{/mensaje}"><button>Acceder</button></a>
        <p>Now is <b th:text="${execInfo.now.time}"></b></p>
        <footer th:replace="layout::site-footer"></footer>
    </body>
</html>
