<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Mensaje</title>
</head>
<body>
	<h2>Mensajes</h2>
	<p th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</p>
	<form th:action="@{/logout}" method="post">
            <input type="submit" value="Desconectarse"/>
       </form>
        <form th:action="@{/admin/AdministrarProductos}" method="post">
            <input type="submit" value="Administrar Productos"/>
        </form>
</body>
</html>