<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Mensaje</title>
        <link href="../static/css/estilos.css" th:href="@{css/estilos.css}" rel="stylesheet" media="screen" />
        
</head>
<body>
	<p th:inline="text">Bienvenido [[${#httpServletRequest.remoteUser}]]</p>
	<form th:action="@{/logout}" method="post">
            <input type="submit" value="Desconectarse"/>
       </form>
        <form th:action="@{/admin/AdministrarProductos}" method="post">
            <input type="submit" value="Administrar Productos"/>
        </form>
        <form th:action="@{/admin/categorias/administrar_categorias}" method="post">
            <input type="submit" value="Admnistrar Categorías"/>
        </form>
</body>
</html>